# See http://help.github.com/ignore-files/ for more about ignoring files.

/Tareas/Tarea 01/RMarkdown/Tarea01.txt
/Tareas/Tarea 01/RMarkdown/Tarea01_cache
/Tareas/Tarea 01/RMarkdown/Tarea01.log
/Tareas/Tarea 01/RMarkdown/Tarea01_files
/Tareas/Tarea 01/RMarkdown/Tarea01.pdf
/Tareas/Tarea 01/RMarkdown/Tarea01.html
/Tareas/Tarea 01/RMarkdown/Tarea01.docx
/Tareas/Tarea 01/RMarkdown/Tarea01.aux

/Tareas/Tarea 02/RMarkdown/Tarea02.txt
/Tareas/Tarea 02/RMarkdown/Tarea02_cache
/Tareas/Tarea 02/RMarkdown/Tarea02.log
/Tareas/Tarea 02/RMarkdown/Tarea02_files
/Tareas/Tarea 02/RMarkdown/Tarea02.pdf
/Tareas/Tarea 02/RMarkdown/Tarea02.html 
/Tareas/Tarea 02/RMarkdown/Tarea02.docx
/Tareas/Tarea 02/RMarkdown/Tarea02.aux
/Tareas/Tarea 02/RMarkdown/Tarea02.tex

.RData

.RHistory