# See http://help.github.com/ignore-files/ for more about ignoring files.

/Tareas/Tarea 01/RMarkdown/Tarea01.txt
/Tareas/Tarea 01/RMarkdown/Tarea01_cache
/Tareas/Tarea 01/RMarkdown/Tarea01.log
/Tareas/Tarea 01/RMarkdown/Tarea01_files
/Tareas/Tarea 01/RMarkdown/Tarea01.pdf
/Tareas/Tarea 01/RMarkdown/Tarea01.html
/Tareas/Tarea 01/RMarkdown/Tarea01.docx

.RData

.RHistory